<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.springframework.org/schema/security">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>TechList</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>
<form th:action="${'/techniques'}" method="get">
    <input th:type="number" th:name="startPrice" placeholder="Enter the start price">
    <input th:type="number" th:name="endPrice" placeholder="Enter the end price">
    <button class="w3-button w3-white w3-border" style="margin-top: 10px" th:type="submit">Confirm</button>
</form>
<form th:action="${'/techniques'}" method="get">
    <input th:type="hidden" th:name="startPrice" th:value="${null}">
    <input th:type="hidden" th:name="endPrice" th:value="${null}">
    <button class="w3-button w3-white w3-border" th:type="submit">Clear filter</button>
</form>
<div th:if="${list.size() eq 0}">
    <p>Nothing founded</p>
</div>
<div th:if="${list.size() > 0}">
    <table class="w3-table-all">
        <thead class="w3-light-grey">
        <th>Id</th>
        <th>Price</th>
        <th>Category</th>
        <th>Producer</th>
        <th>ProducerCountry</th>
        <th>Model</th>
        <th>Types</th>
        <th>Stores</th>
        </thead>
        <tbody>
        <tr th:each="unit, iter: ${list}">
            <td th:text="${unit.id}"></td>
            <td th:text="${unit.price}"></td>
            <td th:if="${unit.category ne null}" th:text="${unit.category.name}"></td>
            <td th:if="${unit.producer ne null}" th:text="${unit.producer.name}"></td>
            <td th:if="${unit.producer ne null}" th:text="${unit.producer.country}"></td>
            <td th:if="${unit.model ne null}" th:text="${unit.model.name}"></td>
            <td th:if="${unit.category ne null}" th:each="type, it:${unit.category.types}">
                <p th:text="${type.name}"></p>
            </td>
            </td>
            <td th:if="${unit.storeList ne null}" th:each="store, it:${unit.storeList}">
                <p th:text="${store.name}"></p>
                <p th:text="${store.address}"></p>
            </td>
            <td sec:authorize="hasAuthority('ADMIN')">
                <form th:action="${'/techniques/edit'}" th:method="GET">
                    <input th:type="hidden" th:name="techId" th:value="${unit.id}">
                    <button class="w3-button w3-white w3-border" th:type="submit">Edit</button>
                </form>
            </td>
            <td sec:authorize="hasAuthority('ADMIN')">
                <form th:action="${'/techniques/delete'}" th:method="POST">
                    <input th:type="hidden" th:name="techId" th:value="${unit.id}">
                    <button class="w3-button w3-white w3-border" th:type="submit">Delete</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<form sec:authorize="hasAuthority('ADMIN')" th:action="${'/techniques/add'}" th:method="get">
    <button class="w3-button w3-white w3-border" style="margin-top: 10px" th:type="submit">Add new technique</button>
</form>
<div th:if="${list.size() > 0}">
    <ul class="pagination">

        <li th:if="${page} ne 1">
            <a th:href="@{/techniques(page=${page}-1,size=${size}, startPrice=${startPrice}, endPrice = ${endPrice})}">предыдущая</a>
        </li>

        <li th:each="i : ${#numbers.sequence( 1, totalPage)}">
            <a th:text="${i}"
               th:if="${page} eq ${i}">
                ${i}
            </a>

            <a th:href="@{/techniques(page=${i},size=${size}, startPrice=${startPrice}, endPrice = ${endPrice})}"
               th:text="${i}"
               th:if="${page} ne ${i}">
                ${i}
            </a>
        </li>

        <li th:if="${page} lt ${totalPage}">
            <a th:href="@{/techniques(page=${page}+1,size=${size}, startPrice=${startPrice}, endPrice = ${endPrice})}">следующая</a>
        </li>

    </ul>
</div>
<a th:href="${'/home'}">To home page</a>
</body>
</html>