<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.springframework.org/schema/security">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Store List</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>
<form th:action="storeByName" method="post">
    <input th:type="search" th:name="name" placeholder="Enter the name">
    <button class="w3-button w3-white w3-border" style="margin-top: 10px" th:type="submit">Confirm</button>
</form>
<form th:action="storeByAddress" method="post">
    <input th:type="search" th:name="address" placeholder="Enter the address">
    <button class="w3-button w3-white w3-border" style="margin-top: 10px" th:type="submit">Confirm</button>
</form>
<div th:if="${list.size() eq 0}">
    <p>Founded nothing</p>
</div>
<div th:if="${list.size() > 0}">
    <table class="w3-table-all">
        <thead class="w3-light-grey">
        <th>Id</th>
        <th>Name</th>
        <th>Address</th>
        </thead>
        <tbody>
        <tr th:each="unit, iter: ${list}">
            <td th:text="${unit.id}"></td>
            <td th:text="${unit.name}"></td>
            <td th:text="${unit.address}"></td>
            <td sec:authorize="hasAuthority('ADMIN')">
                <form th:action="store" th:method="get">
                    <input th:type="hidden" th:name = "storeId" th:value="${unit.id}">
                    <button class = "w3-button w3-white w3-border" th:type="submit">Edit</button>
                </form>
            </td>
            <td sec:authorize="hasAuthority('ADMIN')">
                <form th:action="store" th:method="post">
                    <input th:type="hidden" th:name = "storeId" th:value="${unit.id}">
                    <button class = "w3-button w3-white w3-border" th:type="submit">Delete</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<form sec:authorize="hasAuthority('ADMIN')" th:action="newStore" th:method="get">
    <button class="w3-button w3-white w3-border" style="margin-top: 10px" th:type="submit">Add new store</button>
</form>

<a th:href="home">To home page</a>
</body>
</html>