<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <title th:text="#{store.edit.title}"/>
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>
<header>
  <a th:text="#{language.en}"
     th:href="@{/stores/edit(language=${'en'}, storeId =${unit.id})}"/>
  <a th:text="#{language.ru}"
     th:href="@{/stores/edit(language=${'ru'}, storeId =${unit.id})}"/>
</header>
<form class="w3-container"  th:action="${'/stores/edit'}" th:method="post">
  <input th:type="hidden" th:name="storeId" th:value="${unit.id}">
  <label th:text="#{name.name}"/>
  <input class="w3-input" th:type="text" th:name="name" th:value="${unit.name}">
  <label th:text="#{address.name}"/>
  <input class="w3-input" th:type="text" th:name="address" th:value="${unit.address}">
  <button th:type="submit" style="margin-top: 10px" class="w3-button w3-white w3-border" th:text="#{submit.name}"/>
</form>
<a th:href="${'/stores'}" th:text="#{page.prev}"/>
</body>
</html>
