<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="ru" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org ">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title th:text="#{category.add.title}"></title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link th:href="@{/category/catAdd.css}" rel="stylesheet" />

</head>
<body>
<header>
    <a class="w3-a"
       th:text="#{language.en}"
       th:href="@{/categories/add(language=${'en'})}"></a>
    <a class="w3-a"
       th:text="#{language.ru}"
       th:href="@{/categories/add(language=${'ru'})}"></a>
</header>
<form class="w3-container" th:action="${'/categories/add'}" th:method="post">
    <label th:text="#{name.name}"></label>
    <input class="w3-input" required th:type="text" th:name="name" th:placeholder="#{name.placeholder}">
    <div class="w3-checkbox" th:if="${types.size()>0}">
        <div th:each="type, iter:${types}">
            <label>
                <input class="w3-check" th:type="checkbox" th:name="typeId" th:value="${type.id}">
            </label>
            <label th:text="${type.name}"></label>
        </div>
    </div>
    <button th:type="submit" style="margin-top: 15px" class="w3-button w3-white w3-border" th:text="#{submit.name}"></button>
</form>
<a class="w3-previous" th:href="${'/categories'}" th:text="#{page.prev}"></a>
</body>
</html>
