<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title th:text="#{category.edit.title}"/>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link th:href="@{/category/catAdd.css}" rel="stylesheet" />

</head>
<body>
<header>
    <a class="w3-a"
       th:text="#{language.en}"
       th:href="@{/categories/edit(language=${'en'}, catId =${unit.id})}"/>
    <a class="w3-a"
       th:text="#{language.ru}"
       th:href="@{/categories/edit(language=${'ru'}, catId =${unit.id})}"/>
</header>
<form class="w3-container" th:action="${'/categories/edit'}" th:method="post">
    <input th:type="hidden" th:name="catId" th:value="${unit.id}">
    <label th:text="#{name.name}"/>
    <input class="w3-input" th:type="text" th:name="name" th:value="${unit.name}">
    <div class="w3-checkbox" th:if="${types ne null}">
        <div th:each="type, iter:${types}">
            <div th:if="${type.category eq null}">
                <input class="w3-check"  th:type="checkbox" th:name="typeId"
                       th:value="${type.id}">
                <label th:text="${type.name}"/>
            </div>
            <div th:if="${type.category ne null}">
                <input class="w3-check" th:checked="${type.category.id == unit.id}" th:type="checkbox" th:name="typeId"
                       th:value="${type.id}">
                <label th:text="${type.name}"/>
            </div>
        </div>
        <input th:type="hidden" th:if="${types.size() == 0}" th:name="typeId" th:value="${null}">
    </div>
    <div th:if="${types eq null}">
        <input th:type="hidden" th:name ="typeId" th:value="${null}">
    </div>
    <button th:type="submit" style="margin-top: 10px" class="w3-button w3-white w3-border" th:text="#{submit.name}"/>
</form>
<a class="w3-previous" th:href="${'/categories'}" th:text="#{page.prev}"/>
</body>
</html>
