<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Home</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

</head>
<body>
<p> Choose entity</p>
    <form th:action="homeView" th:method="get">
        <select class="w3-select" th:name="listName">
            <option th:value="1" selected>Technique</option>
            <option th:value="2">Category</option>
            <option th:value="3">Model</option>
            <option th:value="4">Producer</option>
            <option th:value="5">Type</option>
            <option th:value="6">Store</option>
        </select>
        <button class="w3-button w3-white w3-border"  style="margin-top: 10px" type="submit">View</button>
    </form>
</body>
</html>