<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login Page</title>
  <link th:href="@{/auth/login.css}" rel="stylesheet" />
</head>
<body>
<div class="login-container">
  <h2>Login</h2>
  <p>Not registered yet? <a class="register-link" th:href="@{/registration}">Register here</a></p>
  <form class="form1">
    <input type="text" class="w3-input" placeholder="Username">
    <input type="password" class="w3-input" placeholder="Password">
    <button type="submit" class="w3-button">Login</button>
  </form>
</div>
</body>
</html>
