<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Account</title>
    <link th:href="@{/customer/profile.css}" rel="stylesheet" />

</head>
<body>
<div class="user-container">
    <h2>Welcome, [Username]</h2>
    <div class="options-container">
        <a href="#" class="option-link">Personal Information</a>
        <a href="#" class="option-link">Shopping Cart</a>
        <a href="#" class="option-link">Order History</a>
        <a href="#" class="option-link logout-link">Logout</a>
    </div>
</div>
</body>
</html>
