<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.springframework.org/schema/security">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Model List</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>
<form th:action="${'/models'}" method="post">
    <input th:type="search" th:name="name" placeholder="Enter the name">
    <button class="w3-button w3-white w3-border" style="margin-top: 10px" th:type="submit">Confirm</button>
</form>
<form th:action="${'/models'}" method="post">
    <input th:type="search" th:name="name" th:value="${null}">
    <button class="w3-button w3-white w3-border" style="margin-top: 10px" th:type="submit">Clear filter</button>
</form>
<div th:if="${list.size() eq 0}">
    <p>Founded nothing</p>
</div>
<div th:if="${list.size() > 0}">
    <table class="w3-table-all">
        <thead class="w3-light-grey">
        <th>Id</th>
        <th>Name</th>
        </thead>
        <tbody>
        <tr th:each="unit, iter: ${list}">
            <td th:text="${unit.id}"></td>
            <td th:text="${unit.name}"></td>
            <td sec:authorize="hasAuthority('ADMIN')">
                <form th:action="${'/models/edit'}" th:method="get">
                    <input th:type="hidden" th:name = "modelId" th:value="${unit.id}">
                    <button class = "w3-button w3-white w3-border" th:type="submit">Edit</button>
                </form>
            </td>
            <td sec:authorize="hasAuthority('ADMIN')">
                <form th:action="${'/models/delete'}" th:method="post">
                    <input th:type="hidden" th:name = "modelId" th:value="${unit.id}">
                    <button class = "w3-button w3-white w3-border" th:type="submit">Delete</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<form sec:authorize="hasAuthority('ADMIN')" th:action="${'/models/add'}" th:method="get">
    <button class="w3-button w3-white w3-border" style="margin-top: 10px" th:type="submit">Add new model</button>
</form>
<ul class="pagination">

    <li th:if="${page} ne 1">
        <a th:href="@{/models(page=${page}-1,size=${size}, name=${name})}">предыдущая</a>
    </li>

    <li th:each="i : ${#numbers.sequence( 1, totalPage)}">
        <a th:text="${i}"
           th:if="${page} eq ${i}">
            ${i}
        </a>

        <a th:href="@{/models(page=${i},size=${size}, name=${name})}"
           th:text="${i}"
           th:if="${page} ne ${i}">
            ${i}
        </a>
    </li>

    <li th:if="${page} lt ${totalPage}">
        <a th:href="@{/models(page=${page}+1,size=${size}, name=${name})}">следующая</a>
    </li>

</ul>
<a th:href="${'/home'}">To home page</a>
</body>
</html>